@import "tailwindcss";

@theme {
  --font-heading: "Anton", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}


body {
  font-family: var(--font-body);
}



/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}